<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            版本更新記錄 Change Log
        </h1>
    </div>
</div>

<form novalidate="novalidate" class="form-inline" role="form">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
                <h4>Update V1.1 on 2.26.2016</h4><br />
                新增群組及社群群組rest api functions,包括:
                <ul>
                    <li>API:Groups 群組 API(Get,Post,Put,Delete)</li>
                    <li>API:ChatGroups 社群群組 API(Get,Post,Put,Delete)</li>
                </ul>
                <a target="_blank" href="https://docs.google.com/spreadsheets/d/16leCAZyOuEAJm6M1KZQXRKMJbJgyTKTdUGr9mRnTtO0/edit?usp=sharing">詳細文件參考</a>
                <p />
                <h4>Update V1.0 on 11.1.2015</h4><br />
                建構長安醫院 APP 管理後台初版,功能包括:
                <ul>
                    <li>儀表版</li>
                    <li>院方人員帳號管理</li>
                    <li>APP 人員帳號管理</li>
                    <li>最新消息維護</li>
                    <li>APP 傳輸記錄查詢</li>
                    <li>院方 API 傳輸記錄查詢</li>
                    <li>院方及 APP 群組資料維護</li>
                    <li>版本修定記錄</li>
                    <li>關於長安醫院...</li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10" style="text-align:right">
            <img src="Assets/img/Falcota.png" width="50" />
        </div>
    </div>
</form>


