<style>
    
.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

</style>
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            更改密碼 <small>用來更改院方人員密碼</small>
        </h1>
    </div>
</div>

<div class="container" ng-controller="AdminUserPasswordCtrl as registration">
    <form name="myform" novalidate ng-submit="registration.submit(myform.$valid)" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="oldPassword" class="col-sm-2 control-label">舊密碼</label>
                <div class="col-sm-10">
                    <input type="password" name="oldPassword" class="form-control" ng-model="registration.user.oldPassword" required />
                    <div ng-messages="myform.oldPassword.$error" ng-messages-include="./Messages.html"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">新密碼</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" ng-model="registration.user.password" required />
                    <div ng-messages="myform.password.$error" ng-messages-include="./Messages.html"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="col-sm-2 control-label">確認新密碼</label>
                <div class="col-sm-10">
                    <input type="password" name="confirmPassword" class="form-control"
                           ng-model="registration.user.confirmPassword"
                           required compare-to="registration.user.password" />
                    <div ng-messages="myform.confirmPassword.$error" ng-messages-include="./Messages.html"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">確定</button>
                    <button class="btn btn-default" ng-click="cancel()">取消</button>
                </div>
            </div>
    
    </form>
</div>



