<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            關於長安醫院
        </h1>
    </div>
</div>

<form novalidate="novalidate" class="form-inline" role="form">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <p>
                長安醫院為台中市太平區之地區醫院，服務內容包含：內科、家醫科、新陳代謝科、骨科、復健科、神經內科、胸腔內科、心臟內科、耳鼻喉科、泌尿外科、中醫科、醫美中心、健檢中心；設有急性一般病床、呼吸照護病床、洗腎病床、護理之家 。<br /><br />
                
                本院建院目標係成為太平地區最優質之社區醫院，提供社區民眾專業貼心的醫療服務，故除致力於醫療技術之發展提升之外，並與各大醫學中心合作，建立相互轉診制度，以確保社區民眾之就醫權益與品質；此外，有鑑於社會人口之發展趨勢，未來並將朝「老人醫療照護」、社區「亞急性照護」系統與「慢性病急性併發症之治療」方向發展，以滿足未來社區民眾之醫護需求，成為社區民眾最信賴的健康守護醫院。<br /><br />

                本院預計於104年10月開幕營運，歡迎對醫療服務具熱忱之朋友加入，共創優質專業之醫療環境。<br />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <img src="Assets/img/EveranHospital.jpg" />
        </div>
    </div>
</form>


